.FXPairs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  text-align: center;
}

p {
  text-align: center;
  color: var(--dark);
}
